qiskit==1.2.4
qiskit-aer==0.15.1
qiskit-ibm-runtime==0.28.0
numpy==1.26.4
scipy==1.14.1
matplotlib==3.9.2
jupyter==1.1.1
jupyterlab==4.2.5
ipywidgets==8.1.5
pandas==2.2.3
pillow==10.4.0
pylatexenc==2.10
